.contact{
    background-color: black;
    color: var(--back-color);
}

.contact p{
    font-family: 'Roboto Mono';
    font-size: 25px;
    color: var(--backbluelight-color);
    margin-bottom: 20px;
}

.contact .copy{
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    background-color: transparent;
    border: none;
    font-size: 19px;
    font-weight: bold;
    color: var(--backbluelight-color);
    transition: all 300ms;
}

.contact .copy:hover{
    font-size: 20px;
    cursor: pointer;
    color: var(--azurro-color);
    text-decoration: underline;
}

.links{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.linkedin, .github{
    color: var(--back-color);
    font-size: 40px;
    transition: all 300ms;
}

.github:hover{
    color: white;
}

.linkedin:hover{
    color: #0a66c2;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
