header .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header > a{
    color: var(--backbluelight-color);
    transition: all 300ms;
    margin-left: 50px;
    font-family: 'Anton';
    font-size: 29px;
}

.header > a:hover{
    color: var(--azurro-color);
    font-size: 35px;
    cursor: pointer;
}

.header nav{
    width: 30%;
    margin: 35px 0px;
    margin-right: 15px;
}

.header ul{
    display: flex;
    justify-content: space-around;
}

.header nav a, button{
    font-family: 'Roboto Mono';
    font-size: 20px;
    color: var(--backbluelight-color);
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 300ms;
}

.header nav a:hover,
button:hover{
    color: var(--backblue-color);
}

.header nav .active{
    color: var(--backblue-color);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--backblue-color);
}
