@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

:root {
  --dunkel-color: #283845;
  --hardblue-color: #03012C;
  --rosso-arancia: #FF5200;
  --viola-color: #120078;
  --azurro-color: #1363DF;
  --verde-color: #064E3B;
  --back-color: #B8BFC6;
  --backblue-color: #41CBBF;
  --backbluelight-color: #60A5FA;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

.container{
    margin: 0px 5%;
    padding: 3% 9%;
}

h1{
  font-family: 'Anton';
}

h2{
    font-family: 'Anton';
    font-size: 55px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.header{
  position: sticky;
  top: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
